<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns              = "http://www.springframework.org/schema/beans"
       xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p            = "http://www.springframework.org/schema/p"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name                    = "constants"
          class                   = "com.goldin.gcommons.beans.ConstantsBean"
          lazy-init               = "true"/>

    <bean name                    = "verify"
          class                   = "com.goldin.gcommons.beans.VerifyBean"
          p:verifyEqualHelper-ref = "verifyEqualHelper"
          lazy-init               = "true"/>

    <bean name                    = "general"
          class                   = "com.goldin.gcommons.beans.GeneralBean"
          lazy-init               = "true"/>

    <bean name                    = "io"
          class                   = "com.goldin.gcommons.beans.IOBean"
          lazy-init               = "true"/>

    <bean name                    = "file"
          class                   = "com.goldin.gcommons.beans.FileBean"
          lazy-init               = "true"/>

    <bean name                    = "mopHelper"
          class                   = "com.goldin.gcommons.util.MopHelper"
          lazy-init               = "true"/>

    <bean name                    = "verifyEqualHelper"
          class                   = "com.goldin.gcommons.util.VerifyEqualHelper"
          lazy-init               = "true"/>

    <bean name                    = "net"
          class                   = "com.goldin.gcommons.beans.NetBean"
          lazy-init               = "true"/>

    <bean name                    = "groovy"
          class                   = "com.goldin.gcommons.beans.GroovyBean"
          lazy-init               = "true"/>

    <bean name                    = "algorithms"
          class                   = "com.goldin.gcommons.beans.AlgorithmsBean"
          lazy-init               = "true"/>
</beans>